.nav-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;

	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.nav-container .header {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-container img {
	width: 50px;
	border-radius: 50%;
	border: 2px solid var(--clr-blk-button);
}

.nav-container a:hover {
	cursor: pointer;
	color: var(--clr-grey);
}

.nav-container .links {
	display: flex;
	gap: 2rem;
	color: var(--clr-blk-button);
}

.nav-container i {
	font-size: 1.5rem;
}

.tooltip-text {
	position: absolute;
	top: 80px;
	right: 0;

	z-index: 1;
	visibility: hidden;
	color: black;
	padding: 2rem;

	font-size: 1.25rem;
	border-radius: 0.25rem;
}

.tooltip:hover {
	color: var(--clr-grey) !important;
}

.tooltip:hover .tooltip-text {
	animation: tooltipFadeIn ease 0.5s;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}
