.nav-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 90px;

	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.nav-container .header {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 2rem;
}

.nav-container img {
	width: 55px;
	padding: 1.5px;
	border-radius: 50%;
	border: 1px solid var(--clr-grey);
}

.nav-container .links {
	display: flex;
	gap: 0.5rem;
}

.nav-container i {
	font-size: 2rem;
}

.tooltip-text {
	position: absolute;
	top: 90px;
	right: 0;

	z-index: 1;
	visibility: hidden;
	padding: 1rem 2rem;

	color: black;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 0.25rem;
}

.tooltip:hover {
	color: var(--clr-grey) !important;
}

.tooltip:hover .tooltip-text {
	animation: tooltipFadeIn ease 0.25s;
	visibility: visible;
}

.fa-github-square {
	color: var(--clr-blk-button);
}

.fa-square-envelope {
	cursor: pointer;
	color: var(--email);
}

.fa-square-phone {
	color: var(--phone);
}

.fa-linkedin {
	color: var(--linkedin);
}

.fa-github-square:hover {
	cursor: pointer;
	color: var(--clr-grey);
}

.fa-square-envelope:hover {
	color: var(--email-light);
}

.fa-linkedin:hover {
	cursor: pointer;
	color: var(--linkedin-light);
}

@media (max-width: 600px) {
	.tooltip-text {
		background-color: white;
	}
}

/* TODO: Prevent default from animation when its not hovered */
/* .links:not(:hover) .tooltip-default {
	animation: tooltipFadeIn ease 0.25s;
} */

/* .tooltip-default {
	position: absolute;
	top: 90px;
	right: 0;

	z-index: 1;
	visibility: visible;
	color: black;
	padding: 1rem 2rem;

	font-size: 1rem;
	font-weight: 500;
}

.links:hover .tooltip-default {
	visibility: hidden;
}

.tooltip-default:hover {
	visibility: visible !important;
} */
