.nav-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;

	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	/* padding-top: 1rem; */

	/* color: var(--clr-blk-button); */
	/* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

.nav-container > span {
	font-size: 2rem;
	font-weight: bold;
}

.nav-container a:hover {
	cursor: pointer;
	color: var(--clr-grey);
}

.nav-container > div {
	display: flex;
	gap: 2rem;
	color: var(--clr-blk-button);
}

.nav-container i {
	font-size: 1.5rem;
}

.tooltip-text {
	position: absolute;
	top: 80px;
	right: 0;

	z-index: 1;
	visibility: hidden;
	color: black;
	padding: 1rem;

	font-size: 1.25rem;
	border-radius: 0.25rem;
}

.tooltip:hover {
	color: var(--clr-grey) !important;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}
