.resume-list-item {
	position: relative;
	font-size: 1rem;
}

.resume-list-item i {
	font-size: 1rem;
}

.resume-list-item .header {
	display: flex;
	align-items: center;

	font-weight: 500;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.resume-list-item .header span:nth-child(2) {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.resume-list-item .detail {
	font-style: italic;
}

.resume-list-item i {
	color: var(--clr-blk-button);
}

.resume-list-item i:hover {
	color: var(--clr-grey);
}

.resume-list-item .details {
	margin-top: 0.5rem;
	position: relative;

	animation: fadeIn ease 0.25s;
}

.resume-list-item .details-item {
	display: flex;
	line-height: 1.5rem;
}

@keyframes fadeIn {
	0% {
		left: -50px;
		opacity: 0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}
