.resume-list-item {
	/* font-size: 1rem; */
}

.resume-list-item .header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	/* justify-content: space-between; */
	/* margin-bottom: 1rem; */
}

.resume-list-item .details {
	animation: fadeIn linear 0.25s;
	position: relative;

	margin-top: 1rem;
}

.resume-list-item i {
	color: var(--clr-blk-button);
}

.resume-list-item i:hover {
	cursor: pointer;
	color: var(--clr-grey);
}

@keyframes fadeIn {
	0% {
		top: -50px;
		opacity: 0;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}
