.resume-list-item {
	/* font-size: 1rem; */
}

.resume-list-item .header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	/* justify-content: space-between; */
	/* margin-bottom: 1rem; */
}

.resume-list-item i {
	color: var(--clr-blk-button);
}

.resume-list-item .header:hover {
	cursor: pointer;
	color: var(--clr-grey) !important;
}

.resume-list-item .header:hover i {
	color: var(--clr-grey) !important;
}

.fa-circle-chevron-right {
	animation: twistUp linear 0.2s;
}

.fa-circle-chevron-down {
	animation: twistIn linear 0.2s;
}

.resume-list-item .details {
	animation: fadeIn linear 0.25s;
	position: relative;

	margin-top: 1rem;
}

@keyframes twistIn {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes twistUp {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes fadeIn {
	0% {
		top: -50px;
		opacity: 0;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}
